html,
body {
  height: 100%;
}

body {
  overflow-y: overlay;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f5f6f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#footer {
  /*ADD display: none; HERE when we have implemented logic for showing/hiding footer in AppStateComponent !!!!*/
  user-select: none;
  box-sizing: border-box;
  /* background: #f00; */
  height: 70px;
  width: 500px;
  margin: 0 auto;
  padding: 0 0 0 280px;
  display: flex;
  flex-direction: column;
}

#footer-logo {
  display: block;
}

#footer-text {
  color: #d0d3e3;
  text-align: center;
  font-size: 11px;
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 0.07em;
  margin: 6px 0 0;
}

/* TODO BREAKPOINT NOT WORKING CORRECTLY */
@media (min-width: 1760px) {
  #footer {
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 1em 0 0.5em;
  color: #2f0045;
}

h2 {
  font-size: 22px;
  color: #666;
}

p {
  margin: 1em 0 0.5em;
}

hr {
  margin: 40px 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a {
  color: #cf5060;
  text-decoration: none;
}

.react-datepicker__input-container {
  display: block !important;
}

/* 
  This is here to remove the z-index from the select flag in react phone input.
  Needed so the flag does not overlap other elements displayed in front of it.
*/
.react-tel-input .selected-flag {
  z-index: auto !important;
}